/* ---- 상단바 ---- */
header {
    /* border: 1px solid #000; */
}

/* ---- 팝업 / popup ---- */
.popup::before {
    content: "";
    width: 30px;
    /* border: 1px solid red; */
}
.popup {
    background-color: #E8E8E8;
    /* text-align: center; */
    padding-top: 12px; padding-bottom: 12px;
    padding-right: 24px; padding-left: 24px; 
    color: #000;
    font-size: 10.3px;
    line-height: 15px; /* 145.631% */
    display: flex;
    justify-content: space-between;
}
.popup::after {
    content: "X";
    font-size: 14px;
    width: 30px;
    text-align: end;
    cursor: pointer;
    /* border: 1px solid red; */
}

/* ---- 탑바 / top-bar ---- */
.top-bar {
    /* border: 1px solid red; */
    padding-left: 20px; padding-right: 20px;
    padding-top: 16px; padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

/* 메뉴01 / menu01 */
.menu01 {
    /* border: 1px solid orange; */
}
.menu01-ul {
    display: flex;
    width: 388px;
    gap: 16px;
    align-items: center;
    height: 100%;
}
.m01-items {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}

/* 로고 / logo-box */
.logo-box {
    /* border: 1px solid orange; */
}

/* 사용자 메뉴 / user-menu */
.user-menu {
    /* border: 1px solid orange; */
}
.user-menu-ul {
    display: flex;
    width: 388px;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    height: 100%;
}
.user-items {
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}