/* top-bar / 탑바 */
.top-bar {
    display: flex;
    background: linear-gradient(90deg, #f7f7f7 0%, #9fc5df 62%, #82add0 100%);
    justify-content: space-between;
    padding-left: 100px; padding-right: 100px;
    height: 116px;
}
.top-bar:hover {
    background: linear-gradient(90deg, #ffd3de 0%, #d6efff 62%, #e9c9ff 100%);
}

/* logo-box / 로고 */
.logo-box {
    align-self: center;
}
.logo-box img {
    width: 220px;
}

/* menu01 / 메뉴01 */

.menu01 > ul {
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;
}
.m01-item:hover {
    text-decoration: underline;
}
.m01-item > a {
    font-size: 15px; font-weight: 500;
    color: #333;
}

/* user-box / 사용자 메뉴 */
.user-box{
    align-self: center;
}
.user-box > ul {
    display: flex;
    align-items: center;
    gap: 16px;
}
.user-item01 > a {
    font-size: 27px; font-weight: 700;
}
.user-item02 {
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 50px;
    transition: 0.3s;
}
.user-item02:hover {
    background-color: greenyellow;
    border: 1px solid rgb(11, 48, 255);
    color: rgb(19, 19, 19);
}
.user-item02 > a {
    font-size: 15px;
}
.user-item03 > a {
    display: flex;
    font-size: 15px;
    align-items: center;
}