section {
    padding: 70px 120px;
    display: flex;
    flex-direction: column;
    gap: 110px;
}
.sct-01 {
    display: flex;
}
.sct01-top {
    background-color: #dbdbdb;
    border-radius: 40px 0 0 40px;

    width: 835px;
    height: 656px;
}
.sct01-bottom {
    background-color: #bdbdbd;
    border-radius: 0 40px 40px 0;
    width: 835px;
    height: 656px;
}

/* .sct-02 */
.sct-02 {
    display: flex;
    width: 1670px;
}

.sct02-text-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.sct02-title {
    background-color: #bdbdbd;
    width: 236px;
    height: 105px;
}
.sct02-text {
    background-color: #bdbdbd;
    width: 296px;
    height: 55px;
}

.sct02-img-box {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}
.sct02-i-box {
    width: 532px;
    height: 335px;

}
.sct02-i-box01 {
    background-color: aqua;
    border-radius: 30px;
}
.sct02-i01-title {
    background-color: #bdbdbd;
    width: 57px;
    height: 32px;
}
.sct02-i-box02 {
    background-color: blue;
    border-radius: 30px;
}