.grid {
    background: #EDEDED;
    height: 678px;
    width: 950px;
    margin-left: auto; margin-right: auto;
    margin-top: 100px;
}
.section01 {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
}
.sct01-top-box {
    background: #FFE0AF;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sct01-bottom-box {
    background: #FF7D2C;
    width: 100%;
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    gap: 20px;
}
.sct01-b-left {
    background: #BBF0C1;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sct01-b-right {
    background: #1D197E;
    flex-grow: 1;
    display: flex;
    gap: 30px;
}
.sct01-b-right01, .sct01-b-right02 {
    width: 313px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sct01-b-right01 {
    background: #9DF5F8;
}
.sct01-b-right02 {
    background: #809DFE;
}