/* ---- 상단바 ---- */

/* ---- 메인 컨텐츠 ---- */

/* bestsellers-section / 베스트셀러 섹션 */
.bestsellers-section {
    /* width: 1920px; 가로 스크롤 활성화되기 때문에 고정 하지 않아야 한다 */
    padding: 142px 80px;
}

/* ul-nav / 섹션안에 상단 부분 */
.ul-nav {
    padding-top: 65px; padding-bottom: 65px;
    /* 이렇게 적어야 같이 협업하는 사람들이 편하게 볼 수 있다 */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E1DED9;
}
.section-title {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px; /* 120% */
}
.view-all {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

/* amp-swiper / 섹션안에 하단 부분 */
.amp-swiper {
    display: flex;
    gap: 40px;
}
/* best-product-list / 리스트 */
.best-product-list {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
}

/* best-img-box / 이미지 박스 */
.best-img-box {
    height: 410px;
    background-color: #ebebeb;
}

/* 텍스트 박스 */

/* > (자식 선택자) : 부모와 자식관계를 선택하는 선택자 */
.best-discount-title > a {
    padding-top: 40px; padding-bottom: 42px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.best-discount-subhead {
    padding-bottom: 40px;
    border-bottom: 1px solid #E1DED9;
}
.best-discount-subhead > a {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.best-price-volume {
    padding-top: 14px; padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.best-price {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px; /* 106.25% */
}
.best-volume {
    /* span은 기본적으로 inline을 가지고 있기 때문에 2,3,언저리 여백을
    가지고 있다 -> flex-item으로 만들어서 여백을 없애고 gap을 적용하는 방향이 가장 좋다 */
    /* inline: 기본적으로 디자인에 적용되면 안되는 여백을 가지고 있다 */
    display: flex;
    gap: 16px;
}
.best-volume-30ml {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px; /* 121.429% */
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.best-volume-60ml {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}

/* best-pro-btn / 버튼 */
.best-pro-btn {
    border: 1px solid #E1DED9;
    background: #FFF;
    flex-grow: 1;
    padding-bottom: 12px; padding-top: 12px;
    color: #212529;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.06px;
    
    /* text-transform: capitalize;
    font-family: Raleway;
    font-style: normal; */
    transition: 0.5s;
}
.best-pro-btn:hover {
    background-color: #212529;
    color: #E1DED9;
}

/* ---- 하단바 ---- */
