/* ---- popup / 팝업 ---- */
.popup::before {
    content: "";
    width: 30px; padding-right: 24px;
}
.popup {
    background-color: #E8E8E8;
    padding-top: 12px; padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 10.3px;
    line-height: 15px; /* 145.631% */
}
.popup::after {
    content: "X";
    width: 30px; padding-right: 24px;
    font-size: 14px;
    text-align: end;
    cursor: pointer;
}

/* ---- top-bar / 탑바 ---- */
.top-bar {
    padding-top: 16px; padding-bottom: 16px;
    padding-left: 20px; padding-right: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
}
.top-bar:hover {
    padding-top: calc(16px + 8px); padding-bottom: calc(16px + 8px);    
}

/* menu01 / 메뉴01 */
.menu01 {
    /* border: 1px solid orange; */
    width: 388px;
}
.menu01-ul {
    display: flex;
    gap: 16px;
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
    align-items: center;
    height: 100%;
}

/* menu02 / 2차 메뉴 */
.menu02 {
    /* background-color: rgb(188, 204, 185); */
    font-size: 20px;
    /* display: none; */
    height: 0px; transition: 0.6s;
    overflow: hidden;
    position: absolute;
    top: 100%; left: 0; right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}
.menu01:hover > .menu02 {
    /* display: block; */
    height: 400px;
    border-top: 1px solid rgba(0, 0, 0, 1);
}
.menu02 > .container {
    /* background-color: rgb(216, 216, 216); */
    width: 1620px;
    height: 100%;
    display: flex;
}
.mn02-img-box {
    /* background-color: rgb(255, 229, 229); */
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mn02-img-item {
    /* background-color:  orange; */
    width: 300px; height: 300px;
}
.mn02-img-item > a {height: 100%;}
.mn02-img-box img {
    object-fit: cover;
    width: 100%; height: 100%;
}
.mn02-nav {
    /* background-color: rgb(206, 206, 255); */
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.mn02-ul {
    display: flex;
    gap: 50px;
}
.mn02-item {
    position: relative;
}
.mn02-item>a {
    font-size: 60px; font-weight: 700;
    color: #333;
}
.mn02-item:hover > a {
    color: tomato;
    text-decoration: underline;
}

/* mn03-nav / 3차 메뉴 */
.mn03-nav {
    /* border: 1px solid red; */
    position: absolute;
    /* display: flex; */
    width: 100%; top: calc(100% + 10px);
    justify-content: space-between;
    display: none;
}
.mn03-item:hover a {
    color: skyblue;
    font-weight: 700;
    text-decoration: underline;
}
.mn03-item > a {
    font-size: 24px; font-weight: 400;
    color: #4e4e4e;
}

.mn02-item:hover > .mn03-nav {
    display: flex;
}


/* user-menu / 사용자 메뉴 */
.user-menu {
    width: 388px;
}
.user-menu-ul {
    display: flex;
    justify-content: end;
    gap: 16px;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
    align-items: center;
    height: 100%;
}